
.wp-block {
	&-cover {
		backface-visibility: hidden;
		h2 {
			margin-left: auto;
			margin-right: auto;
		}
		& &__inner-container {
			max-width: var(--content-width, $container-default-width);
			width: calc(100% - 4rem);
			padding-top: 3rem;
			padding-bottom: 3rem;
			padding-left: 1rem;
			padding-right: 1rem;
			@include media-breakpoint-up(md) {
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
	&-media-text {
		&__content {
			padding-top: 3rem;
			padding-bottom: 1rem;
		}
	}
}

.wp-block-coblocks-feature {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.coblocks-lightbox {
	background-color: #333;
}
