
.wp-block {
	&-separator {
		&.is-style-wide {
			max-width: none;
		}
	}
	&-buttons {
		a {
			text-decoration: none;
		}
	}
	&-cover {
		backface-visibility: hidden;
		h2 {
			margin-left: auto;
			margin-right: auto;
		}
		& &__inner-container {
			max-width: var(--content-width, $container-default-width);
			width: 100%;
			padding-top: 3rem;
			padding-bottom: 3rem;
			padding-left: var(--content-gutter-x, 1rem);
			padding-right: var(--content-gutter-x, 1rem);
			box-sizing: border-box;
		}
	}
	&-media-text {

		&__content {
			background-image: linear-gradient(45deg, rgba(255,255,255,0.3), transparent);
			padding-top: 3rem;
			padding-bottom: 1rem;
		}
	}
	&-button {
		font-family: var(--headings-font-family);
		&:hover {
			text-decoration: none;
		}
	}
	/*
	&-columns {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}*/
	&-group__inner-container {
		.wp-block-columns {
			margin-left: -1rem;
			margin-right: -1rem;
			margin-bottom: 0;
		}

	}
}

.wp-block-coblocks-feature {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.coblocks-lightbox {
	background-color: #333;
}



.wp-block-group {
	&.has-background {
		.wp-block-group__inner-container {
			padding-left: var(--content-gutter-x, 1rem);
			padding-right: var(--content-gutter-x, 1rem);
			padding-top: var(--content-gutter-y, 1rem);
			padding-bottom: var(--content-gutter-y, 1rem);
			*:first-child {
				margin-top: 0;
			}
			.wp-block-columns {
				padding-left: var(--content-gutter-x, 1rem);
				padding-right: var(--content-gutter-x, 1rem);
			}
		}
	}
}
