[data-critical] {
  .js & {
    opacity: 0;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

.aspect-ratio-align {
  max-width: 100%;
  margin-bottom: 1rem;
  figure {
    margin-bottom: 0;
  }
}

.no-js {
  img.lazyload {
    display: none;
  }
  noscript {
    img.lazyload {
      display: block !important;
    }
  }
}


.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloading {
  will-change: opacity;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

[data-bg] {
  background-size: cover;
  background-position: 50%;
}
