.p-fixed {
  position: fixed;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-top {
  top:0;
}

.p-bottom {
  bottom: 0;
}

.p-left {
  left: 0;
}

.p-right {
  right: 0;
}