// Margin and Padding

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $breakpoint in map-keys($media-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $media-breakpoints);
    @include media-breakpoint-up($breakpoint) {
      @each $size, $length in $spacers {

        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
        .#{$abbrev}t#{$infix}-#{$size} {
          #{$prop}-top: $length !important;
        }
        .#{$abbrev}r#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
        }
        .#{$abbrev}b#{$infix}-#{$size} {
          #{$prop}-bottom: $length !important;
        }
        .#{$abbrev}l#{$infix}-#{$size} {
          #{$prop}-left: $length !important;
        }
        .#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
          #{$prop}-left: $length !important;
        }
        .#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top: $length !important;
          #{$prop}-bottom: $length !important;
        }

      }
    }
  }

}


/*
 Added classes for spacing variables
 */

.p-header-y {
	padding-top: var(--header-padding-y, $grid-gutter-width);
	padding-bottom: var(--header-padding-y, $grid-gutter-width);
}

.p-header-x {
	padding-left: var(--header-padding-x, $grid-gutter-width);
	padding-right: var(--header-padding-x, $grid-gutter-width);
}

.p-content {
	padding-top: var(--content-padding-y, $grid-gutter-width);
	padding-bottom: var(--content-padding-y, $grid-gutter-width);
	padding-left: var(--content-padding-x, $grid-gutter-width);
	padding-right: var(--content-padding-x, $grid-gutter-width);
}

.p-content-y {
	padding-top: var(--content-padding-y, $grid-gutter-width);
	padding-bottom: var(--content-padding-y, $grid-gutter-width);
}

.p-content-x {
	padding-left: var(--content-padding-x, $grid-gutter-width);
	padding-right: var(--content-padding-x, $grid-gutter-width);
}

.p-sidebar-y {
	padding-top: var(--content-padding-y, $grid-gutter-width);
	padding-bottom: var(--content-padding-y, $grid-gutter-width);
}

.p-sidebar-x {
	padding-left: var(--header-padding-x, $grid-gutter-width);
	padding-right: var(--header-padding-x, $grid-gutter-width);
}

