//
// Headings
//

p {
	margin-bottom: 1.65em;
}

.lead {
  @include lead();
}

.small {
  @include small();
}

.link-reset {
  &, &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
  }
}

@each $size_name, $size in $paragraph-sizes {
  @each $breakpoint in map-keys($media-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
		p {
			font-size: calc(var(--base-font-size) * #{map-get($responsive-paragraph, $breakpoint)}) !important;
		}
      p.has-#{$size_name}-font-size {
        font-size: calc(var(--base-font-size) * #{$size * map-get($responsive-paragraph, $breakpoint)}) !important;
      }
    }
  }
}

@each $name, $weight in $font-weights {
  .text-#{$name} {
    font-weight: $weight !important;
  }
}
