.page {
	&-header {
		padding: 0 2rem;
	}
	&-title {
		.archive & {
			font-size: 1.5rem;
		}
	}
	&-content {
		p {
			margin-bottom: 2em;
		}
	}
}

.entry {
	&-title {
		font-size: 4rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		line-height: 1.1;
		padding: 1rem 2rem;
		border-bottom: 1px solid;
		a {
			text-decoration: none;
		}
	}
	&-header {
		margin-bottom: 1rem;
	}
	&-meta, &-footer {
		> span {
			@include pill();
		}
	}
	&-date {
		+ time {
			display: none;
		}
	}
}


.comment {
	&s-area {
		padding: var(--content-gutter-x, 0) var(--content-gutter-y, 0);
	}
	&-list {
		padding-left: 2rem;
		font-size: 2rem;
	}
	&s-title {
		border-bottom: 1px solid;
		padding-bottom: 1rem;
	}
	&-content {
		padding: 1rem;
		display: block;
		margin: 1rem 0;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: .35rem;
		background-color: rgba(255,255,255,0.6);
	}
	.reply {
		@include pill();
	}
	&-meta {
		display: flex;
	}
	&-metadata {
		font-size: 80%;
		margin-top: 0;
		> a, > span {
			@include pill();
			margin-right: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&-author {
		flex: 1;
		.avatar {margin-right: .5rem;}
		.fn {font-weight: 600;    display: inline-block;}
		.says {font-size: 80%;    display: inline-block;}
	}
	&-author, &-metadata {
		a {
			text-decoration: none;
			font-weight: 500;
		}
	}
	&-body {
		font-size: 1.3rem;
		margin-bottom: 1rem;
		padding: 1rem;
	}
	&-respond {
		font-size: 1rem;
	}
	&-submit {
		@include button();
	}
}

textarea {
	overflow: auto;
	resize: vertical;
	border-radius: 1rem;
	background-color: #fbfbfb45;
}

.logged-in-as {
	> a {
		text-decoration: none;
		font-weight: 600;
	}
}

.entry {
	&-content {
		.wp-block-cover, .wp-block-cover-image {
			background-color: var(--base-bg-color, #ffffff);
		}
		@include media-breakpoint-down(md) {
			.wp-block-cover, .wp-block-cover-image {
				min-height: unset;
			}
		}
		> .wp-block-jetpack-map {
			.wp-block-jetpack-map__gm-container {
				height: 100% !important;

				.mapboxgl-ctrl-top-right {
					position: absolute;
					bottom: 2rem;
					top: auto;
					right: 2rem;
				}
			}
		}

		> .wp-block-embed.is-type-video {
			max-width: 100%;
			&.alignwide {
				max-width: none;
			}
			&.alignfull {
				max-width: none;
			}
			.wp-block-embed__wrapper {
				position: relative;
			}

			&.wp-embed-aspect-21-9 {
				.wp-block-embed__wrapper {
					padding-top: 42.8571%;
				}
			}

			&.wp-embed-aspect-16-9 {
				.wp-block-embed__wrapper {
					padding-top: 56.25%;
				}
			}

			.jetpack-video-wrapper {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin-bottom: 0;

				iframe {
					width: 100% !important;
					max-width: 100%;
					height: 100% !important;
				}
			}

			&:first-child {
				width: 100vw !important;
				margin-bottom: 0;
				position: relative;
			}
		}

		font-size: 1rem;
		font-weight: var(--base-font-weight, $font-weight-base);

		p {
			margin-bottom: 1em;
		}
	}

	&-summary {
		font-size: 1.2rem;
		font-weight: 100;
		padding-bottom: 1rem;
		p {
			margin-bottom: 1em;
		}
	}
}

.wp-block-columns {
	margin: 20px 0;
}

/* Add horiztonal breathing room between individual columns. */
.wp-block-column {
	margin: 0 20px;
}
