.entry {
	&-content {
		> .wp-block-cover {
			&:first-child {
				min-height: 100vh;
				@include when-admin-bar {
					min-height: calc(100vh - 46px);
				}
				@include when-admin-bar-desktop {
					min-height: calc(100vh - 32px);
				}
			}
		}
	}
}
