.site-title {
	margin: 0;
	font-size: 2rem;
	&:hover {
		text-decoration: none;
	}
	.sr-only-title & {
		@include sr-only;
	}
}

.site-description {
	margin: 0;
	.sr-only-desc & {
		@include sr-only;
	}
}

.site-header-wrapping {
	@media screen and (max-width: 599px) {
		.scrolled & {
			top: 0;
		}
	}
}

.site-header-container {
	display: flex;
	position: relative;
	width: 100%;
	padding-left: var(--header-padding-x, $grid-gutter-width);
	padding-right: var(--header-padding-x, $grid-gutter-width);
	.site-branding {
		align-self: center;
		width: 100%;
		position: relative;
		padding-top: var(--header-padding-y, $grid-gutter-width);
		padding-bottom: var(--header-padding-y, $grid-gutter-width);
	}
	.menu-toggle {
		position: absolute;
		right: var(--header-padding-x, 1rem);
		top: 50%;
		transform: translateY(-50%);
		padding: 0;
	}
	.has-header-contained & {
		width: var(--content-width, 100%);
		max-width: 100%;
	}
	.custom-logo-link {
		display: block;
	}
	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;
		.main-navigation {
			flex-grow: 1;
			width: 100%;
		}
	}
}

.site-header-center {
	.site-header-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.site-description {
		display: block;
	}
	.custom-logo-link {
		margin: .5rem auto;
	}
}

.site-header-left {
	.site-header-container {
		align-content: center;
		flex-direction: row;
		display: flex;
		justify-content: space-between;
	}
	.main-navigation {
		align-self: center;
		@include media-breakpoint-up(md) {
			height: 100%;
		}
	}
}
.site-header-right {
	.site-header-container {
		.site-branding {
			float: right;
		}

		.main-navigation {
			@include media-breakpoint-up(md) {
				height: 100%;
			}
			align-items: flex-end;
		}
	}
}

.site {
	.has-fixed-header & {
		&:before {
			content: "";
			width: 100%;
			height: 170px;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			opacity: 0.4;
			transition: opacity 200ms linear;
			background-image: linear-gradient(180deg, rgba(0,0,0,0.3), transparent);
		}
	}
	&-header {
		.site-header-wrapping {
			z-index: 300;
			background: var(--header-bg-color);
			color: var(--header-text-color, inherit);
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			position: relative;
			.has-fixed-header & {
				position: relative;
				left: 0;
				right: 0;
				.scrolled & {
					transition: all 200ms linear;
					position: fixed;
					top: 0;
					transform: none;
				}
			}

			.has-fixed-header.admin-bar & {
				.scrolled & {
					top: 32px !important;
				}
			}
		}
		.header-scroll-bg.has-fixed-header & {
			background-color: transparent;
		}
		@include alignfull();
		.header-scroll-bg.has-fixed-header & {
			background-color: transparent;
		}


		@include media-breakpoint-down(sm) {
			transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
		}

		.menu-toggled & {
			color: var(--header-text-color, --base-color);
			background-color: var(--header-bg-color, --base-bg-color) !important;
			transition: background-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
	&-branding {
		align-self: center;
		.custom-logo-link {
			display: block;
			width: var(--logo-width);
		}
	}

	&-description {
		transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}
