.site-title {
	margin: 0;
	font-size: 2rem;
	&:hover {
		text-decoration: none;
	}
	.sr-only-title & {
		@include sr-only;
	}
}

.site-description {
	margin: 0;
	.sr-only-desc & {
		@include sr-only;
	}
}

.site-header-container {
	position: relative;
	width: 100%;
	padding-left: var(--header-padding-x,1rem);
	padding-right: var(--header-padding-x,1rem);
	.site-branding {
		align-self: center;
		width: 100%;
		position: relative;
		padding-top: var(--header-padding-y,1rem);
		padding-bottom: var(--header-padding-y,1rem);
	}
	.menu-toggle {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		padding: 0;
	}
	.has-header-contained & {
		width: var(--content-width, 100%);
		max-width: 100%;
	}
	.custom-logo-link {
		display: block;
	}
	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;
		.main-navigation {
			flex-grow: 1;
			width: 100%;
		}
	}
}

.site-header-center {
	.site-header-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.site-description {
		display: block;
	}
	.custom-logo-link {
		margin: .5rem auto;
	}
}

.site-header-left {
	.site-header-container {
		align-content: center;
		flex-direction: row;
		display: flex;
		justify-content: space-between;
	}
	.main-navigation {
		align-self: center;
		@include media-breakpoint-up(md) {
			height: 100%;
		}
	}
}
.site-header-right {
	.site-header-container {
		.site-branding {
			float: right;
		}

		.main-navigation {
			@include media-breakpoint-up(md) {
				height: 100%;
			}
			align-items: flex-end;
		}
	}
}

.site {
	.has-fixed-header & {
		&:before {
			content: "";
			width: 100%;
			height: 170px;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			opacity: 0.4;
			transition: opacity 200ms linear;
			background-image: linear-gradient(180deg, rgba(0,0,0,0.3), transparent);
		}
	}
	&-header {
		z-index: 300;
		background: var(--header-bg-color, transparent);
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		position: relative;
		.has-fixed-header & {
			position: fixed;
			left: 0;
			right: 0;
			@include media-breakpoint-down(xs) {
				.scrolling &, .scrolled & {
					top: 0;
				}
			}
		}
		.header-scroll-bg.has-fixed-header & {
			background-color: transparent;
		}
		@include alignfull();
		.header-scroll-bg.has-fixed-header & {
			background-color: transparent;
		}
		color: var(--header-text-color, inherit);
		@include media-breakpoint-down(sm) {
			transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
		}
		.menu-toggled & {
			color: var(--header-text-color, --base-color);
			background-color: var(--header-bg-color, --base-bg-color) !important;
			transition: background-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
	&-branding {
		align-self: center;
		.custom-logo-link {
			display: block;
			.scrolled & {
				max-width: 175px;
			}
		}
	}

	&-description {
		transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}
