.site {
	&-main {
		min-height: calc(88vh - 8rem);
		display: flex;
		align-items: center;
		flex-direction: column;
		article, #comments {
			width: 100%;
		}
	}
}


.push-below-header {
	@include pushBelowHeader();
}
