.wp-block-cover__inner-container {
  padding-left: 2rem;
  padding-right: 2rem;
  .wp-block-media-text__content {
    padding: 2rem;
    margin: 0;
  }
  .wp-block-cover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
}