.home .custom-logo-link {
  display: none !important;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  .home .site-header & {
    justify-content: center;
  }
}

.site {
  &-header {
    min-height: 7em;
  }
  &-branding {
    .custom-logo-link {
      @include media-breakpoint-down(lg) {
        width: 100px;
      }
    }
  }
}