input {
  &[type="submit"] {
    color: #fff;
  }
  label & {
      border: 3px solid transparent;
      margin: 10px 0;
      box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
      transition: all 200ms linear;
      &:focus {
        outline: none;
        border-color: #dedede;
        margin: 10px 0;
        box-shadow: none;
      }
  }
}