p.has-huge-font-size {
  font-size: $font-size-h1 !important;
  line-height: 1.1em !important;
  margin-bottom: 0rem;
}

p.has-large-font-size {
  font-size: $font-size-h3 !important;
  line-height: 1.4em !important;
  margin-bottom: .5rem;
  @include media-breakpoint-down(sm) {
    font-size: 2rem  !important;
  }
}

p.has-medium-font-size {
  font-size: $font-size-h5 !important;
  line-height: 1.4em !important;
  margin-bottom: 1.5rem;
}

p.has-normal-font-size {
  font-size: 1.5rem !important;
  line-height: 1.4em !important;
  margin-bottom: 1.5rem;
}

p.has-small-font-size {
  font-size: 1rem !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: .75em;
  margin-bottom: .4em;
}

h1, .h1 {
  font-size: $font-size-h1 !important;
  @include media-breakpoint-down(sm) {
    font-size: 3.5rem !important;
  }
}

h2, .h2 {
  font-size: $font-size-h2 !important;
  @include media-breakpoint-down(sm) {
    font-size: 3rem !important;
  }
}

h3, .h3 {
  font-size: $font-size-h3 !important;
  @include media-breakpoint-down(sm) {
    font-size: 2.5rem !important;
  }
}

h4, .h4 {
  font-size: $font-size-h4 !important;
  @include media-breakpoint-down(sm) {
    font-size: 2rem !important;
  }
}

h5, .h5 {
  font-size: $font-size-h5 !important
}

h6, .h6 {
  font-size: $font-size-h6 !important
}

.header-underline {
  &:after {
    content: '';
    display: block;
    width: 100%;
    max-width: 100px;
    border-top: 3px solid;
    clear: both;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}