.widget-area {
	ul, ol {
		margin-bottom: 0;
	}
}

.pre-header {
	width: 100%;
	z-index: 320;
	.widget-area {
		padding: 0 var(--content-gutter-x);
	}
	.wp-block-column {
		flex-basis: 50% !important;
		&, &s {
			margin: 0;
		}
	}
	.wp-block-button {
		&, &s {
			margin: 0;
		}
		&__link {
			padding: .25em 1em;
			border-radius: var(--base-border-radius);
			font-weight: 300;
			font-size: 12px;
			margin-top: 4px;
			border-width: 1px;
			@include media-breakpoint-down(sm) {
				font-size: 9px;
			}
		}
	}
}

