.widget-area {
	ul, ol {
		margin-bottom: 0;
	}
}

.pre-header {
	width: 100%;
	z-index: 320;
	@include media-breakpoint-down(md) {
		position: fixed;
		bottom: 0;
		background-color: var(--base-bg-color);
		box-shadow: 0 0 10px rgba(0,0,0,0.23);
	}
	.widget-area {
		padding: 0 var(--wp--custom--spacing--unit);
	}
	.wp-block-column {
		flex-basis: 50% !important;
		&, &s {
			margin: 0;
		}
	}
	.wp-block-button {
		&, &s {
			margin: 0;
		}
		&__link {
			padding: .25em 1em;
			border-radius: var(--base-border-radius);
			font-weight: 300;
			font-size: 12px;
			margin-top: 4px;
			border-width: 1px;
			@include media-breakpoint-down(sm) {
				font-size: 11px;
			}
		}
	}
}

