.widget-area {
	ul, ol {
		margin-bottom: 0;
	}
}

.pre-header {
	.wp-block-column {
		&, &s {
			margin: 0;
		}
	}
	.wp-block-button {
		&, &s {
			margin: 0;
		}
		&__link {
			padding: .25em 1em;
			border-radius: var(--base-border-radius);
			font-weight: 300;
			font-size: 12px;
			margin-top: 4px;
			border-width: 1px;
		}
	}
}
