/*!*********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/block-editor-style.scss ***!
  \*********************************************************************************************************************************************************************/
/*
 * Typography
 */
body {
  --base-color: $body-color;
  --base-color-darker: $body-color-darker;
  --base-bg-color: $body-bg;
  --nav-font-family: $base-font-family;
  --mobile-font-size: $root-font-size * 0.9;
  --base-letter-spacing: $base-letter-spacing;
  --sidebar-width: $sidebar-default-width;
  --content-width: $container-default-width;
  --content-width-wide: $container-default-width;
  --base-border-radius: $default-border-radius;
  --footer-height: $footer-height;
}

/*
 * Typography
 */
.v-align {
  height: 100%;
  display: block;
  white-space: nowrap;
}
.v-align:after {
  content: "";
  height: 100%;
  vertical-align: middle;
  width: 0;
  display: inline-block;
}
.v-align > div {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  width: 100%;
}

.v-align-middle {
  vertical-align: middle;
}

.v-align-top {
  vertical-align: top !important;
}

.v-align-bottom {
  vertical-align: bottom !important;
}

.text-center {
  text-align: center;
}

.alignright {
  float: right;
}

.aligncenter {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aligncontainer {
  width: var(--content-width, 960px);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 1000%;
  width: auto;
}

.alignwide {
  width: 100%;
}
@media (min-width: 960px) {
  .alignwide {
    margin-left: calc(25% - 25vw);
    margin-right: calc(25% - 25vw);
    width: auto;
  }
  .alignwide.wp-block-gallery {
    margin-left: calc(25% - 20vw - 1rem);
    margin-right: calc(25% - 20vw - 1rem);
  }
}
.alignwide .alignwide {
  margin-left: 0;
  margin-right: 0;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.flex-none {
  display: none !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-100 {
  width: 100%;
}

/* Display */
.d-none {
  display: none !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-cell {
  display: table-cell !important;
}

@media (min-width: 600px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-table {
    display: table !important;
  }

  .d-sm-table-cell {
    display: table-cell !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-table {
    display: table !important;
  }

  .d-md-table-cell {
    display: table-cell !important;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-table {
    display: table !important;
  }

  .d-lg-table-cell {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-table {
    display: table !important;
  }

  .d-xl-table-cell {
    display: table-cell !important;
  }
}
.cf::after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  visibility: hidden;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

@media (min-width: 600px) {
  .float-sm-right {
    float: right  !important;
  }

  .float-sm-left {
    float: left  !important;
  }

  .float-sm-none {
    float: none  !important;
  }
}
@media (min-width: 768px) {
  .float-md-right {
    float: right  !important;
  }

  .float-md-left {
    float: left  !important;
  }

  .float-md-none {
    float: none  !important;
  }
}
@media (min-width: 992px) {
  .float-lg-right {
    float: right  !important;
  }

  .float-lg-left {
    float: left  !important;
  }

  .float-lg-none {
    float: none  !important;
  }
}
@media (min-width: 1200px) {
  .float-xl-right {
    float: right  !important;
  }

  .float-xl-left {
    float: left  !important;
  }

  .float-xl-none {
    float: none  !important;
  }
}
.js [data-critical] {
  opacity: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

.aspect-ratio-align {
  max-width: 100%;
  margin-bottom: 1rem;
}
.aspect-ratio-align figure {
  margin-bottom: 0;
}

.aspect-ratio {
  position: relative;
}
.aspect-ratio iframe, .aspect-ratio object {
  width: 100%;
  height: 100%;
}
.aspect-ratio.ratio-custom {
  position: relative;
  overflow: visible;
  display: block;
  padding-top: 56.25%;
}
.aspect-ratio.ratio-custom .force-width {
  width: 100%;
}
.aspect-ratio.ratio-custom img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}
.aspect-ratio.ratio-custom:before {
  content: none;
}
.aspect-ratio:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.aspect-ratio.ratio-3-4 {
  overflow: visible;
}
.aspect-ratio.ratio-3-4:before {
  padding-top: 75%;
}
.aspect-ratio.ratio-square {
  overflow: visible;
}
.aspect-ratio.ratio-square:before {
  padding-top: 100%;
}
.aspect-ratio img, .aspect-ratio iframe, .aspect-ratio object {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.no-js img.lazyload {
  display: none;
}
.no-js noscript img.lazyload {
  display: block !important;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloading {
  will-change: opacity;
}

.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

[data-bg] {
  background-size: cover;
  background-position: 50%;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.p-fixed {
  position: fixed;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-top {
  top: 0;
}

.p-bottom {
  bottom: 0;
}

.p-left {
  left: 0;
}

.p-right {
  right: 0;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-1 {
  margin: 0.5rem !important;
}

.mt-1 {
  margin-top: 0.5rem !important;
}

.mr-1 {
  margin-right: 0.5rem !important;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}

.mx-1 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.my-1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.m-2 {
  margin: 1rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mr-2 {
  margin-right: 1rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.ml-2 {
  margin-left: 1rem !important;
}

.mx-2 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.my-2 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-3 {
  margin: 2rem !important;
}

.mt-3 {
  margin-top: 2rem !important;
}

.mr-3 {
  margin-right: 2rem !important;
}

.mb-3 {
  margin-bottom: 2rem !important;
}

.ml-3 {
  margin-left: 2rem !important;
}

.mx-3 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.my-3 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.m-xl {
  margin: 6rem !important;
}

.mt-xl {
  margin-top: 6rem !important;
}

.mr-xl {
  margin-right: 6rem !important;
}

.mb-xl {
  margin-bottom: 6rem !important;
}

.ml-xl {
  margin-left: 6rem !important;
}

.mx-xl {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

.my-xl {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

@media (min-width: 600px) {
  .m-sm-0 {
    margin: 0 !important;
  }

  .mt-sm-0 {
    margin-top: 0 !important;
  }

  .mr-sm-0 {
    margin-right: 0 !important;
  }

  .mb-sm-0 {
    margin-bottom: 0 !important;
  }

  .ml-sm-0 {
    margin-left: 0 !important;
  }

  .mx-sm-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .my-sm-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .m-sm-1 {
    margin: 0.5rem !important;
  }

  .mt-sm-1 {
    margin-top: 0.5rem !important;
  }

  .mr-sm-1 {
    margin-right: 0.5rem !important;
  }

  .mb-sm-1 {
    margin-bottom: 0.5rem !important;
  }

  .ml-sm-1 {
    margin-left: 0.5rem !important;
  }

  .mx-sm-1 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .my-sm-1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .m-sm-2 {
    margin: 1rem !important;
  }

  .mt-sm-2 {
    margin-top: 1rem !important;
  }

  .mr-sm-2 {
    margin-right: 1rem !important;
  }

  .mb-sm-2 {
    margin-bottom: 1rem !important;
  }

  .ml-sm-2 {
    margin-left: 1rem !important;
  }

  .mx-sm-2 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .my-sm-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .m-sm-3 {
    margin: 2rem !important;
  }

  .mt-sm-3 {
    margin-top: 2rem !important;
  }

  .mr-sm-3 {
    margin-right: 2rem !important;
  }

  .mb-sm-3 {
    margin-bottom: 2rem !important;
  }

  .ml-sm-3 {
    margin-left: 2rem !important;
  }

  .mx-sm-3 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }

  .my-sm-3 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }

  .m-sm-xl {
    margin: 6rem !important;
  }

  .mt-sm-xl {
    margin-top: 6rem !important;
  }

  .mr-sm-xl {
    margin-right: 6rem !important;
  }

  .mb-sm-xl {
    margin-bottom: 6rem !important;
  }

  .ml-sm-xl {
    margin-left: 6rem !important;
  }

  .mx-sm-xl {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
  }

  .my-sm-xl {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }
}
@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important;
  }

  .mt-md-0 {
    margin-top: 0 !important;
  }

  .mr-md-0 {
    margin-right: 0 !important;
  }

  .mb-md-0 {
    margin-bottom: 0 !important;
  }

  .ml-md-0 {
    margin-left: 0 !important;
  }

  .mx-md-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .my-md-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .m-md-1 {
    margin: 0.5rem !important;
  }

  .mt-md-1 {
    margin-top: 0.5rem !important;
  }

  .mr-md-1 {
    margin-right: 0.5rem !important;
  }

  .mb-md-1 {
    margin-bottom: 0.5rem !important;
  }

  .ml-md-1 {
    margin-left: 0.5rem !important;
  }

  .mx-md-1 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .my-md-1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .m-md-2 {
    margin: 1rem !important;
  }

  .mt-md-2 {
    margin-top: 1rem !important;
  }

  .mr-md-2 {
    margin-right: 1rem !important;
  }

  .mb-md-2 {
    margin-bottom: 1rem !important;
  }

  .ml-md-2 {
    margin-left: 1rem !important;
  }

  .mx-md-2 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .my-md-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .m-md-3 {
    margin: 2rem !important;
  }

  .mt-md-3 {
    margin-top: 2rem !important;
  }

  .mr-md-3 {
    margin-right: 2rem !important;
  }

  .mb-md-3 {
    margin-bottom: 2rem !important;
  }

  .ml-md-3 {
    margin-left: 2rem !important;
  }

  .mx-md-3 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }

  .my-md-3 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }

  .m-md-xl {
    margin: 6rem !important;
  }

  .mt-md-xl {
    margin-top: 6rem !important;
  }

  .mr-md-xl {
    margin-right: 6rem !important;
  }

  .mb-md-xl {
    margin-bottom: 6rem !important;
  }

  .ml-md-xl {
    margin-left: 6rem !important;
  }

  .mx-md-xl {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
  }

  .my-md-xl {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }
}
@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important;
  }

  .mt-lg-0 {
    margin-top: 0 !important;
  }

  .mr-lg-0 {
    margin-right: 0 !important;
  }

  .mb-lg-0 {
    margin-bottom: 0 !important;
  }

  .ml-lg-0 {
    margin-left: 0 !important;
  }

  .mx-lg-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .my-lg-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .m-lg-1 {
    margin: 0.5rem !important;
  }

  .mt-lg-1 {
    margin-top: 0.5rem !important;
  }

  .mr-lg-1 {
    margin-right: 0.5rem !important;
  }

  .mb-lg-1 {
    margin-bottom: 0.5rem !important;
  }

  .ml-lg-1 {
    margin-left: 0.5rem !important;
  }

  .mx-lg-1 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .my-lg-1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .m-lg-2 {
    margin: 1rem !important;
  }

  .mt-lg-2 {
    margin-top: 1rem !important;
  }

  .mr-lg-2 {
    margin-right: 1rem !important;
  }

  .mb-lg-2 {
    margin-bottom: 1rem !important;
  }

  .ml-lg-2 {
    margin-left: 1rem !important;
  }

  .mx-lg-2 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .my-lg-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .m-lg-3 {
    margin: 2rem !important;
  }

  .mt-lg-3 {
    margin-top: 2rem !important;
  }

  .mr-lg-3 {
    margin-right: 2rem !important;
  }

  .mb-lg-3 {
    margin-bottom: 2rem !important;
  }

  .ml-lg-3 {
    margin-left: 2rem !important;
  }

  .mx-lg-3 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }

  .my-lg-3 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }

  .m-lg-xl {
    margin: 6rem !important;
  }

  .mt-lg-xl {
    margin-top: 6rem !important;
  }

  .mr-lg-xl {
    margin-right: 6rem !important;
  }

  .mb-lg-xl {
    margin-bottom: 6rem !important;
  }

  .ml-lg-xl {
    margin-left: 6rem !important;
  }

  .mx-lg-xl {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
  }

  .my-lg-xl {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }
}
@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important;
  }

  .mt-xl-0 {
    margin-top: 0 !important;
  }

  .mr-xl-0 {
    margin-right: 0 !important;
  }

  .mb-xl-0 {
    margin-bottom: 0 !important;
  }

  .ml-xl-0 {
    margin-left: 0 !important;
  }

  .mx-xl-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .my-xl-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .m-xl-1 {
    margin: 0.5rem !important;
  }

  .mt-xl-1 {
    margin-top: 0.5rem !important;
  }

  .mr-xl-1 {
    margin-right: 0.5rem !important;
  }

  .mb-xl-1 {
    margin-bottom: 0.5rem !important;
  }

  .ml-xl-1 {
    margin-left: 0.5rem !important;
  }

  .mx-xl-1 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .my-xl-1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .m-xl-2 {
    margin: 1rem !important;
  }

  .mt-xl-2 {
    margin-top: 1rem !important;
  }

  .mr-xl-2 {
    margin-right: 1rem !important;
  }

  .mb-xl-2 {
    margin-bottom: 1rem !important;
  }

  .ml-xl-2 {
    margin-left: 1rem !important;
  }

  .mx-xl-2 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .my-xl-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .m-xl-3 {
    margin: 2rem !important;
  }

  .mt-xl-3 {
    margin-top: 2rem !important;
  }

  .mr-xl-3 {
    margin-right: 2rem !important;
  }

  .mb-xl-3 {
    margin-bottom: 2rem !important;
  }

  .ml-xl-3 {
    margin-left: 2rem !important;
  }

  .mx-xl-3 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }

  .my-xl-3 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }

  .m-xl-xl {
    margin: 6rem !important;
  }

  .mt-xl-xl {
    margin-top: 6rem !important;
  }

  .mr-xl-xl {
    margin-right: 6rem !important;
  }

  .mb-xl-xl {
    margin-bottom: 6rem !important;
  }

  .ml-xl-xl {
    margin-left: 6rem !important;
  }

  .mx-xl-xl {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
  }

  .my-xl-xl {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }
}
.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-1 {
  padding: 0.5rem !important;
}

.pt-1 {
  padding-top: 0.5rem !important;
}

.pr-1 {
  padding-right: 0.5rem !important;
}

.pb-1 {
  padding-bottom: 0.5rem !important;
}

.pl-1 {
  padding-left: 0.5rem !important;
}

.px-1 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.py-1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.p-2 {
  padding: 1rem !important;
}

.pt-2 {
  padding-top: 1rem !important;
}

.pr-2 {
  padding-right: 1rem !important;
}

.pb-2 {
  padding-bottom: 1rem !important;
}

.pl-2 {
  padding-left: 1rem !important;
}

.px-2 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.py-2 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.p-3 {
  padding: 2rem !important;
}

.pt-3 {
  padding-top: 2rem !important;
}

.pr-3 {
  padding-right: 2rem !important;
}

.pb-3 {
  padding-bottom: 2rem !important;
}

.pl-3 {
  padding-left: 2rem !important;
}

.px-3 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.py-3 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.p-xl {
  padding: 6rem !important;
}

.pt-xl {
  padding-top: 6rem !important;
}

.pr-xl {
  padding-right: 6rem !important;
}

.pb-xl {
  padding-bottom: 6rem !important;
}

.pl-xl {
  padding-left: 6rem !important;
}

.px-xl {
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}

.py-xl {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

@media (min-width: 600px) {
  .p-sm-0 {
    padding: 0 !important;
  }

  .pt-sm-0 {
    padding-top: 0 !important;
  }

  .pr-sm-0 {
    padding-right: 0 !important;
  }

  .pb-sm-0 {
    padding-bottom: 0 !important;
  }

  .pl-sm-0 {
    padding-left: 0 !important;
  }

  .px-sm-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .py-sm-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .p-sm-1 {
    padding: 0.5rem !important;
  }

  .pt-sm-1 {
    padding-top: 0.5rem !important;
  }

  .pr-sm-1 {
    padding-right: 0.5rem !important;
  }

  .pb-sm-1 {
    padding-bottom: 0.5rem !important;
  }

  .pl-sm-1 {
    padding-left: 0.5rem !important;
  }

  .px-sm-1 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .py-sm-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .p-sm-2 {
    padding: 1rem !important;
  }

  .pt-sm-2 {
    padding-top: 1rem !important;
  }

  .pr-sm-2 {
    padding-right: 1rem !important;
  }

  .pb-sm-2 {
    padding-bottom: 1rem !important;
  }

  .pl-sm-2 {
    padding-left: 1rem !important;
  }

  .px-sm-2 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .py-sm-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .p-sm-3 {
    padding: 2rem !important;
  }

  .pt-sm-3 {
    padding-top: 2rem !important;
  }

  .pr-sm-3 {
    padding-right: 2rem !important;
  }

  .pb-sm-3 {
    padding-bottom: 2rem !important;
  }

  .pl-sm-3 {
    padding-left: 2rem !important;
  }

  .px-sm-3 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }

  .py-sm-3 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .p-sm-xl {
    padding: 6rem !important;
  }

  .pt-sm-xl {
    padding-top: 6rem !important;
  }

  .pr-sm-xl {
    padding-right: 6rem !important;
  }

  .pb-sm-xl {
    padding-bottom: 6rem !important;
  }

  .pl-sm-xl {
    padding-left: 6rem !important;
  }

  .px-sm-xl {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }

  .py-sm-xl {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}
@media (min-width: 768px) {
  .p-md-0 {
    padding: 0 !important;
  }

  .pt-md-0 {
    padding-top: 0 !important;
  }

  .pr-md-0 {
    padding-right: 0 !important;
  }

  .pb-md-0 {
    padding-bottom: 0 !important;
  }

  .pl-md-0 {
    padding-left: 0 !important;
  }

  .px-md-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .py-md-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .p-md-1 {
    padding: 0.5rem !important;
  }

  .pt-md-1 {
    padding-top: 0.5rem !important;
  }

  .pr-md-1 {
    padding-right: 0.5rem !important;
  }

  .pb-md-1 {
    padding-bottom: 0.5rem !important;
  }

  .pl-md-1 {
    padding-left: 0.5rem !important;
  }

  .px-md-1 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .py-md-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .p-md-2 {
    padding: 1rem !important;
  }

  .pt-md-2 {
    padding-top: 1rem !important;
  }

  .pr-md-2 {
    padding-right: 1rem !important;
  }

  .pb-md-2 {
    padding-bottom: 1rem !important;
  }

  .pl-md-2 {
    padding-left: 1rem !important;
  }

  .px-md-2 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .py-md-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .p-md-3 {
    padding: 2rem !important;
  }

  .pt-md-3 {
    padding-top: 2rem !important;
  }

  .pr-md-3 {
    padding-right: 2rem !important;
  }

  .pb-md-3 {
    padding-bottom: 2rem !important;
  }

  .pl-md-3 {
    padding-left: 2rem !important;
  }

  .px-md-3 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }

  .py-md-3 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .p-md-xl {
    padding: 6rem !important;
  }

  .pt-md-xl {
    padding-top: 6rem !important;
  }

  .pr-md-xl {
    padding-right: 6rem !important;
  }

  .pb-md-xl {
    padding-bottom: 6rem !important;
  }

  .pl-md-xl {
    padding-left: 6rem !important;
  }

  .px-md-xl {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }

  .py-md-xl {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}
@media (min-width: 992px) {
  .p-lg-0 {
    padding: 0 !important;
  }

  .pt-lg-0 {
    padding-top: 0 !important;
  }

  .pr-lg-0 {
    padding-right: 0 !important;
  }

  .pb-lg-0 {
    padding-bottom: 0 !important;
  }

  .pl-lg-0 {
    padding-left: 0 !important;
  }

  .px-lg-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .py-lg-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .p-lg-1 {
    padding: 0.5rem !important;
  }

  .pt-lg-1 {
    padding-top: 0.5rem !important;
  }

  .pr-lg-1 {
    padding-right: 0.5rem !important;
  }

  .pb-lg-1 {
    padding-bottom: 0.5rem !important;
  }

  .pl-lg-1 {
    padding-left: 0.5rem !important;
  }

  .px-lg-1 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .py-lg-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .p-lg-2 {
    padding: 1rem !important;
  }

  .pt-lg-2 {
    padding-top: 1rem !important;
  }

  .pr-lg-2 {
    padding-right: 1rem !important;
  }

  .pb-lg-2 {
    padding-bottom: 1rem !important;
  }

  .pl-lg-2 {
    padding-left: 1rem !important;
  }

  .px-lg-2 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .py-lg-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .p-lg-3 {
    padding: 2rem !important;
  }

  .pt-lg-3 {
    padding-top: 2rem !important;
  }

  .pr-lg-3 {
    padding-right: 2rem !important;
  }

  .pb-lg-3 {
    padding-bottom: 2rem !important;
  }

  .pl-lg-3 {
    padding-left: 2rem !important;
  }

  .px-lg-3 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }

  .py-lg-3 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .p-lg-xl {
    padding: 6rem !important;
  }

  .pt-lg-xl {
    padding-top: 6rem !important;
  }

  .pr-lg-xl {
    padding-right: 6rem !important;
  }

  .pb-lg-xl {
    padding-bottom: 6rem !important;
  }

  .pl-lg-xl {
    padding-left: 6rem !important;
  }

  .px-lg-xl {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }

  .py-lg-xl {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}
@media (min-width: 1200px) {
  .p-xl-0 {
    padding: 0 !important;
  }

  .pt-xl-0 {
    padding-top: 0 !important;
  }

  .pr-xl-0 {
    padding-right: 0 !important;
  }

  .pb-xl-0 {
    padding-bottom: 0 !important;
  }

  .pl-xl-0 {
    padding-left: 0 !important;
  }

  .px-xl-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .py-xl-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .p-xl-1 {
    padding: 0.5rem !important;
  }

  .pt-xl-1 {
    padding-top: 0.5rem !important;
  }

  .pr-xl-1 {
    padding-right: 0.5rem !important;
  }

  .pb-xl-1 {
    padding-bottom: 0.5rem !important;
  }

  .pl-xl-1 {
    padding-left: 0.5rem !important;
  }

  .px-xl-1 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .py-xl-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .p-xl-2 {
    padding: 1rem !important;
  }

  .pt-xl-2 {
    padding-top: 1rem !important;
  }

  .pr-xl-2 {
    padding-right: 1rem !important;
  }

  .pb-xl-2 {
    padding-bottom: 1rem !important;
  }

  .pl-xl-2 {
    padding-left: 1rem !important;
  }

  .px-xl-2 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .py-xl-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .p-xl-3 {
    padding: 2rem !important;
  }

  .pt-xl-3 {
    padding-top: 2rem !important;
  }

  .pr-xl-3 {
    padding-right: 2rem !important;
  }

  .pb-xl-3 {
    padding-bottom: 2rem !important;
  }

  .pl-xl-3 {
    padding-left: 2rem !important;
  }

  .px-xl-3 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }

  .py-xl-3 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .p-xl-xl {
    padding: 6rem !important;
  }

  .pt-xl-xl {
    padding-top: 6rem !important;
  }

  .pr-xl-xl {
    padding-right: 6rem !important;
  }

  .pb-xl-xl {
    padding-bottom: 6rem !important;
  }

  .pl-xl-xl {
    padding-left: 6rem !important;
  }

  .px-xl-xl {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }

  .py-xl-xl {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}
/*
 Added classes for spacing variables
 */
.p-header-y {
  padding-top: var(--header-padding-y, 1rem);
  padding-bottom: var(--header-padding-y, 1rem);
}

.p-header-x {
  padding-left: var(--header-padding-x, 1rem);
  padding-right: var(--header-padding-x, 1rem);
}

.p-content {
  padding-top: var(--content-padding-y, 1rem);
  padding-bottom: var(--content-padding-y, 1rem);
  padding-left: var(--content-padding-x, 1rem);
  padding-right: var(--content-padding-x, 1rem);
}

.p-content-y {
  padding-top: var(--content-padding-y, 1rem);
  padding-bottom: var(--content-padding-y, 1rem);
}

.p-content-x {
  padding-left: var(--content-padding-x, 1rem);
  padding-right: var(--content-padding-x, 1rem);
}

.p-sidebar-y {
  padding-top: var(--content-padding-y, 1rem);
  padding-bottom: var(--content-padding-y, 1rem);
}

.p-sidebar-x {
  padding-left: var(--header-padding-x, 1rem);
  padding-right: var(--header-padding-x, 1rem);
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 600px) {
  .text-sm-left {
    text-align: left !important;
  }

  .text-sm-right {
    text-align: right !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }

  .text-md-right {
    text-align: right !important;
  }

  .text-md-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }

  .text-lg-right {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }

  .text-xl-right {
    text-align: right !important;
  }

  .text-xl-center {
    text-align: center !important;
  }
}
.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.list-inline li, .list-inline dt, .list-inline dd {
  display: inline;
}
.list-inline dd {
  border: none;
  padding-left: 0;
}
.list-inline dd:after {
  content: "";
  display: block;
}

.list-inline-block li, .list-inline-block dt, .list-inline-block dd {
  display: inline-block;
}
.list-inline-block dd {
  border: none;
  padding-left: 0;
}
.list-inline-block dd:after {
  content: "";
  display: block;
}

.list-table dt {
  float: left;
  clear: left;
  font-size: 1em;
  width: 30%;
}
.list-table dt:after {
  content: ":";
}
.list-table dd {
  margin: 0 0 1em 30%;
}

.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}

.list-roman {
  list-style: lower-roman;
}
.list-roman.upper {
  list-style: upper-roman;
}

.list-latin {
  list-style: lower-latin;
}
.list-latin.upper {
  list-style: upper-latin;
}

.lead {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
}

.small {
  font-size: 85%;
  font-weight: 200;
}

.link-reset, .link-reset:hover, .link-reset:visited, .link-reset:active, .link-reset:focus {
  text-decoration: none;
}

.text-ultra-light {
  font-weight: 100 !important;
}

.text-light {
  font-weight: 200 !important;
}

.text-thin {
  font-weight: 300 !important;
}

.text-regular {
  font-weight: 400 !important;
}

.text-book {
  font-weight: 500 !important;
}

.text-medium {
  font-weight: 600 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-black {
  font-weight: 800 !important;
}

.text-ultra {
  font-weight: 900 !important;
}

.min-height-full > .v-align:after {
  min-height: 100vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .min-height-full > .v-align:after {
    min-height: 1024px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .min-height-full > .v-align:after {
    min-height: 768px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  .min-height-full > .v-align:after {
    min-height: 480px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  .min-height-full > .v-align:after {
    min-height: 320px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .min-height-full > .v-align:after {
    min-height: 568px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
  .min-height-full > .v-align:after {
    min-height: 320px;
  }
}
.min-height-two-thirds > .v-align:after {
  min-height: 66vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .min-height-two-thirds > .v-align:after {
    min-height: 675.84px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .min-height-two-thirds > .v-align:after {
    min-height: 506.88px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  .min-height-two-thirds > .v-align:after {
    min-height: 316.8px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  .min-height-two-thirds > .v-align:after {
    min-height: 211.2px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .min-height-two-thirds > .v-align:after {
    min-height: 374.88px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
  .min-height-two-thirds > .v-align:after {
    min-height: 211.2px;
  }
}
.min-height-half > .v-align:after {
  min-height: 50vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .min-height-half > .v-align:after {
    min-height: 512px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .min-height-half > .v-align:after {
    min-height: 384px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  .min-height-half > .v-align:after {
    min-height: 240px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  .min-height-half > .v-align:after {
    min-height: 160px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .min-height-half > .v-align:after {
    min-height: 284px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
  .min-height-half > .v-align:after {
    min-height: 160px;
  }
}
.min-height-third > .v-align:after {
  min-height: 33vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .min-height-third > .v-align:after {
    min-height: 337.92px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .min-height-third > .v-align:after {
    min-height: 253.44px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  .min-height-third > .v-align:after {
    min-height: 158.4px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  .min-height-third > .v-align:after {
    min-height: 105.6px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .min-height-third > .v-align:after {
    min-height: 187.44px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
  .min-height-third > .v-align:after {
    min-height: 105.6px;
  }
}

.full-height {
  height: 100%;
  height: 100vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .full-height {
    height: 1024px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .full-height {
    height: 768px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  .full-height {
    height: 480px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  .full-height {
    height: 320px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .full-height {
    height: 568px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
  .full-height {
    height: 320px !important;
  }
}

.two-thirds-height {
  height: 66%;
  height: 66vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .two-thirds-height {
    height: 675.84px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .two-thirds-height {
    height: 506.88px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  .two-thirds-height {
    height: 316.8px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  .two-thirds-height {
    height: 211.2px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .two-thirds-height {
    height: 374.88px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
  .two-thirds-height {
    height: 211.2px !important;
  }
}

.half-height {
  height: 50%;
  height: 50vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .half-height {
    height: 512px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .half-height {
    height: 384px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  .half-height {
    height: 240px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  .half-height {
    height: 160px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .half-height {
    height: 284px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
  .half-height {
    height: 160px !important;
  }
}

.third-height {
  height: 33%;
  height: 33vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .third-height {
    height: 337.92px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .third-height {
    height: 253.44px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  .third-height {
    height: 158.4px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  .third-height {
    height: 105.6px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .third-height {
    height: 187.44px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
  .third-height {
    height: 105.6px !important;
  }
}

.wp-block-image {
  margin-bottom: 0;
}
.wp-block-image figure {
  margin-bottom: var(--wp--custom--spacing--unit, 1rem);
}
.wp-block-separator.is-style-wide {
  max-width: none;
}
.wp-block-buttons a {
  text-decoration: none;
}
.wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 83%;
}
.wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: 1.7rem;
}
.wp-block-pullquote.is-style-solid-color cite, .wp-block-pullquote.is-style-solid-color em {
  margin-top: var(--wp--custom--spacing--unit, 1rem);
  display: block;
}
.wp-block-jetpack-layout-grid {
  margin-left: -24px;
  margin-right: -24px;
}
.wp-block-cover, .wp-block-a8c-waves {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  min-height: 3rem;
}
.wp-block-cover h2, .wp-block-a8c-waves h2 {
  margin-left: auto;
  margin-right: auto;
}
.wp-block-cover .wp-block-cover__inner-container, .wp-block-cover .wp-block-a8c-waves__inner-container, .wp-block-a8c-waves .wp-block-cover__inner-container, .wp-block-a8c-waves .wp-block-a8c-waves__inner-container {
  max-width: var(--content-width, 960px);
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: var(--wp--custom--spacing--unit, 1rem);
  padding-right: var(--wp--custom--spacing--unit, 1rem);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wp-block-button {
  font-family: var(--wp--preset--font-family--button);
}
.wp-block-button:hover {
  text-decoration: none;
}
.wp-block-group__inner-container .wp-block-columns {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 0;
}

.wp-block-coblocks-feature {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.coblocks-lightbox {
  background-color: #333;
}

.entry-content > .wp-block-group.alignfull .wp-block-group__inner-container {
  width: var(--content-width);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wp--custom--spacing--unit, 1rem);
  padding-right: var(--wp--custom--spacing--unit, 1rem);
}
.wp-block-group.has-background {
  margin-bottom: var(--wp--custom--spacing--unit, 1rem);
}
.wp-block-group.has-background .wp-block-group__inner-container {
  padding: var(--wp--custom--spacing--unit, 1rem);
}
.wp-block-group.has-background .wp-block-group__inner-container *:first-child {
  margin-top: 0;
}
.wp-block-group.has-background .wp-block-group__inner-container p:last-of-type {
  margin-bottom: 0;
}
.wp-block-group.has-background .wp-block-group__inner-container .wp-block-columns {
  padding-left: var(--wp--custom--spacing--unit, 1rem);
  padding-right: var(--wp--custom--spacing--unit, 1rem);
}

.editor-block-list__layout .editor-block-list__block {
  max-width: var(--content-width, 960px);
}

/* Main column width */
.wp-block {
  line-height: var(--wp--custom--line-height--body, 1.15);
  max-width: var(--content-width, 960px);
}

.wp-block[data-align=full] {
  max-width: none;
}

html .editor-styles-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--base-color, );
  font-family: var(--wp--custom--font-primary), "Epilogue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--wp--preset--font-size--normal, 16px);
  line-height: var(--wp--custom--line-height--body, 1.15);
  letter-spacing: var(--base-letter-spacing, 0em);
  background-color: var(--base-bg-color, );
}
html .editor-styles-wrapper .wp-block-image {
  margin-bottom: 0;
}
html .editor-styles-wrapper .wp-block-image figure {
  margin-bottom: var(--wp--custom--spacing--unit, 1rem);
}
html .editor-styles-wrapper .wp-block-separator.is-style-wide {
  max-width: none;
}
html .editor-styles-wrapper .wp-block-buttons a {
  text-decoration: none;
}
html .editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 83%;
}
html .editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: 1.7rem;
}
html .editor-styles-wrapper .wp-block-pullquote.is-style-solid-color cite, html .editor-styles-wrapper .wp-block-pullquote.is-style-solid-color em {
  margin-top: var(--wp--custom--spacing--unit, 1rem);
  display: block;
}
html .editor-styles-wrapper .wp-block-jetpack-layout-grid {
  margin-left: -24px;
  margin-right: -24px;
}
html .editor-styles-wrapper .wp-block-cover, html .editor-styles-wrapper .wp-block-a8c-waves {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  min-height: 3rem;
}
html .editor-styles-wrapper .wp-block-cover h2, html .editor-styles-wrapper .wp-block-a8c-waves h2 {
  margin-left: auto;
  margin-right: auto;
}
html .editor-styles-wrapper .wp-block-cover html .editor-styles-wrapper .wp-block-cover__inner-container, html .editor-styles-wrapper .wp-block-cover html .editor-styles-wrapper .wp-block-a8c-waves__inner-container, html .editor-styles-wrapper .wp-block-a8c-waves html .editor-styles-wrapper .wp-block-cover__inner-container, html .editor-styles-wrapper .wp-block-a8c-waves html .editor-styles-wrapper .wp-block-a8c-waves__inner-container {
  max-width: var(--content-width, 960px);
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: var(--wp--custom--spacing--unit, 1rem);
  padding-right: var(--wp--custom--spacing--unit, 1rem);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html .editor-styles-wrapper .wp-block-button {
  font-family: var(--wp--preset--font-family--button);
}
html .editor-styles-wrapper .wp-block-button:hover {
  text-decoration: none;
}
html .editor-styles-wrapper .wp-block-group__inner-container .wp-block-columns {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 0;
}
html .editor-styles-wrapper .wp-block-coblocks-feature {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
html .editor-styles-wrapper .coblocks-lightbox {
  background-color: #333;
}
.entry-content > html .editor-styles-wrapper .wp-block-group.alignfull .wp-block-group__inner-container {
  width: var(--content-width);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wp--custom--spacing--unit, 1rem);
  padding-right: var(--wp--custom--spacing--unit, 1rem);
}
html .editor-styles-wrapper .wp-block-group.has-background {
  margin-bottom: var(--wp--custom--spacing--unit, 1rem);
}
html .editor-styles-wrapper .wp-block-group.has-background .wp-block-group__inner-container {
  padding: var(--wp--custom--spacing--unit, 1rem);
}
html .editor-styles-wrapper .wp-block-group.has-background .wp-block-group__inner-container *:first-child {
  margin-top: 0;
}
html .editor-styles-wrapper .wp-block-group.has-background .wp-block-group__inner-container p:last-of-type {
  margin-bottom: 0;
}
html .editor-styles-wrapper .wp-block-group.has-background .wp-block-group__inner-container .wp-block-columns {
  padding-left: var(--wp--custom--spacing--unit, 1rem);
  padding-right: var(--wp--custom--spacing--unit, 1rem);
}
html .editor-styles-wrapper html {
  font-size: var(--wp--preset--font-size--normal);
}
html .editor-styles-wrapper a {
  line-height: var(--wp--custom--line-height--body, 1.15);
  text-decoration: none;
}
html .editor-styles-wrapper a:hover {
  text-decoration: underline;
}
html .editor-styles-wrapper h1, html .editor-styles-wrapper h2, html .editor-styles-wrapper h3, html .editor-styles-wrapper h4, html .editor-styles-wrapper h5, html .editor-styles-wrapper h6 {
  margin-top: 0;
  margin-bottom: var(--wp--custom--spacing--unit);
  font-family: var(--wp--preset--font-family--heading), "Epilogue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: var(--wp--custom--font-weight--normal, 600);
  line-height: var(--wp--custom--line-height--heading, 1.15);
}

.wp-block[data-align=full] > [class^=wp-container] .wp-block {
  max-width: none;
}

/*# sourceMappingURL=block-editor-style.css.map*/