/*
 * Typography
 */
.site {
  padding-top: 7rem; }
  @media (min-width: 768px) {
    .site {
      padding-top: 6rem; } }
  .site-header {
    background-color: var(--header-bg-color);
    top: 0;
    z-index: 20;
    position: fixed;
    padding: 1em;
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    flex-wrap: wrap; }
    .admin-bar .site-header {
      top: 46px; }
    @media screen and (max-width: 600px) {
      .scrolled .admin-bar .site-header, .scrolling .admin-bar .site-header {
        top: 0 !important; } }
    @media screen and (min-width: 783px) {
      .admin-bar .site-header {
        top: 32px !important; } }
    @media (max-width: 991px) {
      .site-header {
        padding-top: 1rem !important;
        padding-bottom: 1.5rem !important; } }
  .site-description {
    margin-left: .4em; }
  .site-branding {
    display: inline-flex;
    align-items: baseline; }
    @media (max-width: 767px) {
      .site-branding {
        max-width: 20%;
        min-width: 100px;
        padding-left: 1rem;
        padding-right: 1rem; } }
  .site-navigation {
    display: inline-flex; }

body #slb_viewer_wrap .slb_theme_slb_black .slb_container {
  background-color: transparent;
  box-shadow: none; }

#covers-archive {
  width: 100%;
  margin-top: -7rem; }
  @media (min-width: 768px) {
    #covers-archive {
      margin-top: -6rem; } }

.single-jetpack-portfolio .entry-content > .wp-block-cover:first-child, .single-case-study .entry-content > .wp-block-cover:first-child {
  max-height: 50vh; }

.single .entry-content > div[class^='wp-block'].alignfull {
  padding-left: 1rem;
  padding-right: 2rem; }

.section-cover {
  min-height: 400px;
  overflow: hidden;
  position: relative; }
  @media (min-width: 992px) {
    .section-cover.section-cover-size-2 {
      width: 50%;
      display: block;
      float: left; } }
  @media (min-width: 1200px) {
    .section-cover.section-cover-size-3 {
      width: 33.333%;
      display: block;
      float: left; } }
  .section-cover.section-padded {
    margin: 10px;
    overflow: hidden;
    max-height: calc(100% - 20px); }
  .section-cover .section-overlay {
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 250ms linear;
    will-change: background-color; }
    .section-cover .section-overlay:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .section-cover .post-thumbnail {
    display: block;
    display: flex;
    width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .section-cover .post-thumbnail img {
      object-fit: cover; }
  .section-cover .section-content {
    position: relative;
    max-width: var(--content-width);
    margin: 0 auto;
    text-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 0.3);
    text-decoration: none; }
    .section-cover .section-content hr {
      border-color: transparent;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 50%;
      width: 0;
      transform: translateX(-50%);
      transition: all 400ms ease-in 100ms; }
    .section-cover .section-content:hover hr {
      border-color: rgba(255, 255, 255, 0.5);
      width: 50%; }

.section .section-description {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.5;
  font-weight: 200;
  transform: translateY(-2rem);
  transition: transform 200ms linear, opacity 300ms ease-out; }

.section:hover .section-description {
  opacity: 1;
  transform: none; }

.site-branding {
  display: inline-flex;
  font-family: var(--headings-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"); }
  .site-branding .custom-logo-link {
    display: block; }

.site-title {
  line-height: 1.1;
  margin: 0; }
  .site-title a {
    font-size: 2.25rem;
    font-weight: 300;
    text-decoration: none; }

.site-description {
  font-weight: 100; }

.site-navigation {
  display: flex;
  justify-content: center;
  text-transform: uppercase; }

.site-footer {
  color: var(--base-color, inherit);
  padding: 2rem;
  text-align: center; }

.site-info {
  padding: 0 2rem;
  font-size: .8rem; }

.widget {
  flex: 1;
  padding: 0 1rem;
  flex-basis: auto;
  margin: .5rem; }
  .widget-area {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap; }
  .widget-title {
    margin: .8rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: .5rem;
    border-bottom: 1px solid; }
  .widget a {
    text-decoration: none;
    font-weight: 500; }
  .widget_search .search-field {
    margin-top: 1rem;
    margin-bottom: 0;
    border-radius: var(--base-border-radius, 3rem); }
  .widget_search .search-submit {
    margin-bottom: 1rem;
    width: 100%; }

input[type="submit"] {
  border-radius: var(--base-border-radius, 3rem);
  background-color: var(--base-color, #263744);
  font-family: var(--headings-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
  letter-spacing: var(--headings-letter-spacing, 0.015em);
  color: #fff;
  display: block;
  width: auto;
  margin: 0 auto; }

.page-header {
  padding: 0 2rem; }

.archive .page-title {
  font-size: 1.5rem; }

.page-content {
  font-size: 1rem;
  padding: 2em; }

.entry-title {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.1;
  padding: 1rem 2rem;
  border-bottom: 1px solid; }
  .entry-title a {
    text-decoration: none; }

.entry-header {
  margin-bottom: 1rem; }

.entry-content {
  font-size: 1.7rem;
  font-weight: var(--base-font-weight, 300);
  padding: 0 2rem; }

.entry-summary {
  font-size: 1.2rem;
  font-weight: 100;
  padding: .5rem 2rem; }
  .entry-summary p {
    margin-bottom: 1em; }

.entry-meta, .entry-footer {
  padding: 0 2rem; }
  .entry-meta > span, .entry-footer > span {
    margin-right: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    border: 1px solid;
    font-weight: 400;
    font-family: var(--headings-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
    letter-spacing: var(--headings-letter-spacing, 0.015em);
    border-radius: var(--base-border-radius, 3rem);
    display: inline-block;
    font-size: 80%; }
    .entry-meta > span a, .entry-footer > span a {
      transition: all 300ms linear;
      text-decoration: none; }
    .entry-meta > span:hover, .entry-footer > span:hover {
      background-color: var(--base-color);
      color: var(--base-bg-color); }
      .entry-meta > span:hover a, .entry-footer > span:hover a {
        color: var(--base-bg-color);
        letter-spacing: .04em; }

.entry-date + time {
  display: none; }

.entry-footer .edit-link {
  position: absolute;
  right: 0;
  bottom: 2rem;
  transition: opacity 0.3s linear;
  z-index: 100; }
  .entry-footer .edit-link span {
    margin: 0; }
  .scrolling .entry-footer .edit-link, .scrolled .entry-footer .edit-link {
    opacity: 0; }

.comments-area {
  padding-left: 2rem;
  padding-right: 2rem; }

.comment-list {
  padding-left: 2rem;
  font-size: 2rem; }

.comments-title {
  border-bottom: 1px solid;
  padding-bottom: 1rem; }

.comment-content {
  padding: 1rem;
  display: block;
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .35rem;
  background-color: rgba(255, 255, 255, 0.6); }

.comment .reply {
  margin-right: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: .5rem 1rem;
  border: 1px solid;
  font-weight: 400;
  font-family: var(--headings-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
  letter-spacing: var(--headings-letter-spacing, 0.015em);
  border-radius: var(--base-border-radius, 3rem);
  display: inline-block;
  font-size: 80%; }
  .comment .reply a {
    transition: all 300ms linear;
    text-decoration: none; }
  .comment .reply:hover {
    background-color: var(--base-color);
    color: var(--base-bg-color); }
    .comment .reply:hover a {
      color: var(--base-bg-color);
      letter-spacing: .04em; }

.comment-meta {
  display: flex; }

.comment-metadata {
  font-size: 80%;
  margin-top: 0; }
  .comment-metadata > a, .comment-metadata > span {
    margin-right: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    border: 1px solid;
    font-weight: 400;
    font-family: var(--headings-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
    letter-spacing: var(--headings-letter-spacing, 0.015em);
    border-radius: var(--base-border-radius, 3rem);
    display: inline-block;
    font-size: 80%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0; }
    .comment-metadata > a a, .comment-metadata > span a {
      transition: all 300ms linear;
      text-decoration: none; }
    .comment-metadata > a:hover, .comment-metadata > span:hover {
      background-color: var(--base-color);
      color: var(--base-bg-color); }
      .comment-metadata > a:hover a, .comment-metadata > span:hover a {
        color: var(--base-bg-color);
        letter-spacing: .04em; }

.comment-author {
  flex: 1; }
  .comment-author .avatar {
    margin-right: .5rem; }
  .comment-author .fn {
    font-weight: 600;
    display: inline-block; }
  .comment-author .says {
    font-size: 80%;
    display: inline-block; }

.comment-author a, .comment-metadata a {
  text-decoration: none;
  font-weight: 500; }

.comment-body {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: 1rem; }

.comment-respond {
  font-size: 1rem; }

.comment-submit {
  border-radius: var(--base-border-radius, 3rem);
  background-color: var(--base-color, #263744);
  font-family: var(--headings-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
  letter-spacing: var(--headings-letter-spacing, 0.015em);
  color: #fff;
  display: block;
  width: auto;
  margin: 0 auto; }

textarea {
  overflow: auto;
  resize: vertical;
  border-radius: 1rem;
  background-color: #fbfbfb45; }

.logged-in-as > a {
  text-decoration: none;
  font-weight: 600; }

.area-inverted {
  background-color: var(--base-color, #263744);
  color: var(--base-bg-color, #f6f7f9); }
  .area-inverted a {
    color: var(--base-bg-color, #f6f7f9); }
  .area-inverted button, .area-inverted [type="submit"] {
    background-color: var(--base-color-darker, #0b0f13); }


/*# sourceMappingURL=portfolio.css.map*/