.section {
	&-cover {
		min-height: 400px;
		overflow: hidden;
		position: relative;
		@include media-breakpoint-up(lg) {
			&.section-cover-size-2 {
				width: 50%;
				display: block;
				float: left;
			}
		}
		@include media-breakpoint-up(xl) {
			&.section-cover-size-3 {
				width: 33.333%;
				display: block;
				float: left;
			}
		}
		&.section-padded {
			margin: 10px;
			overflow: hidden;
			max-height: calc(100% - 20px);
		}
		.section-overlay {
			position: relative;
			height: 100%;
			background-color: rgba(0,0,0,0.4);
			transition: background-color 250ms linear;
			will-change: background-color;
			&:hover {
				background-color: rgba(0,0,0,0.1);
			}
		}
		.post-thumbnail {
			display: block;
			display: flex;
			width: 100%;
			max-height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			img {
				object-fit: cover;
			}
		}
		.section-content {
			position: relative;
			max-width: var(--content-width);
			margin: 0 auto;
			text-shadow: 0.1em 0.1em 0 rgba(0,0,0,0.3);
			text-decoration: none;
			hr {
				border-color: transparent;
				margin: 0;
				margin-left: 0;
				width: 0;
				transition: all 300ms ease-in 0ms;
			}
			&:hover {
				hr {
					border-color: rgba(255,255,255,0.5);
					width: 50%;
				}
			}
			.has-text-align-center {
				hr {
					margin-left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
	.v-align-middle {
		.section-description {
			position: absolute;
			left: 0;
			right: 0;
			opacity: 0.5;
			font-weight: 200;
			@include media-breakpoint-up(md) {
				transform: translateY(-2rem);
				transition: transform 200ms linear, opacity 300ms ease-out;
			}
		}
		&:hover {
			.section-description {
				opacity: 1;
				transform: none;
			}
		}
	}
	&:hover {
		.v-align-bottom {
			.section-description {
				opacity: 1;
				transform: none;
				margin-top: 0 !important;
				hr {
					margin-top: 1rem;
					margin-bottom: 1rem;
				}
			}

		}
	}
	.v-align-bottom {
		.section-description {
			transition: all 200ms linear;
			@include media-breakpoint-up(md) {
				transform: translateY(2rem);
				margin-top: -2rem;
				opacity: 0;
			}
		}

	}
	.section-description {
		hr {
			border-color: rgba(255, 255, 255, 0.5);
			margin-top: 0rem;
			margin-bottom: 0rem;
			width: 50%;
			opacity: 1;
		}
	}
}
