$tmp_colours: (
        dark-green: #374f47,
        pale-azure: #6c7c93,
        wine-red: #bd3854,
        deep-red: #44141f,
        solid-light-grey: #f2f2f2,
        solid-dark-grey: #656565,
        semi-translucid-black: rgba(0,0,0,0.3),
        translucid-black: rgba(0,0,0,0.6),
        semi-translucid-white: rgba(255,255,255,0.3),
        translucid-white: rgba(255,255,255,0.6),
        solid-black: #232323
);

$tmp_gradients: (
        brand: (map-get($tmp_colours, solid-pink), map-get($tmp_colours, solid-yellow)),
);

$default-border-colour: #212121;
$default-border-width: 1px;


$font-size-h1: 3.5rem;
$font-size-h2: 3rem;
$font-size-h3: 2.5rem;
$font-size-h4: 2rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1rem;