.wp-block-cover,
.wp-block-columns {
	margin-bottom: calc(var(--wp--custom--spacing--vertical) * 2);
}

.wp-block-query-loop.is-flex-container {
	@media screen and (min-width: 600px) {
		width: calc(100% + 1.25em);
	}
	max-width: 100vw;
	.wp-block-post-featured-image {
		margin-bottom: 0;
		flex: 0;
	}
	li {
		max-width: 100%;
		@media screen and (min-width: 700px) {
			max-width: calc(50% - 1.25em);
		}
		@media screen and (min-width: 1020px) {
			max-width: calc(33.333336% - 1.25em);
		}
		@media screen and (min-width: 1620px) {
			max-width: calc(25% - 1.25em);
		}
		display: flex;
		flex-direction: column;
		.wp-block-group {
			flex: 1;
		}
	}
}

@import "wp-block-post-featured-image";
