.archive-header, .entry-header {
	.indigo-header-overlays & {
		margin-top: var(--header-height);
		display: block;
		width: 100%;
		padding-top: 1px;
	}
}


.archive-description {
	p {
		@extend .has-medium-font-size;
	}
}
