.archive-header, .entry-header {
	width: 100%;
	padding-left: var(--wp--custom--spacing--unit);
	padding-right: var(--wp--custom--spacing--unit);
	.indigo-calculate-header & {
		margin-top: var(--header-height);
		display: block;
		width: 100%;
		padding-top: 1px;
	}
}


.archive-description {
	p {
		@extend .has-medium-font-size;
	}
}
