.site-content {
	.vertical-sidebar & {
		display: flex;
		@include media-breakpoint-up(md) {
			#primary {
				max-width: calc(100% - 300px);
				flex-grow: 2;
			}
			#secondary {
				max-width: 300px;
				.widget-area {
					padding: 1.5rem;
				}
			}
		}
	}
}
