.site {
	width: var(--content-width, $container-default-width);
	max-width: 100%;
	margin: 0 auto;
	&-main {
		min-height: calc(88vh - 8rem);
		display: flex;
		align-items: center;
		flex-direction: column;
		article, #comments {
			width: 100%;
		}
	}
	&-header,&-content,&-footer,.widget-area {
		padding-left: var(--content-gutter-x, $grid-gutter-width);
		padding-right: var(--content-gutter-x, $grid-gutter-width);
		padding-top: var(--content-gutter-y, $grid-gutter-width);
		padding-bottom: var(--content-gutter-y, $grid-gutter-width);
	}
}

.vertical-sidebar {
	@include media-breakpoint-up(md) {
		#primary {
			grid-area: content;
		}
		#secondary {
			grid-area: side;
		}
		.site-content {
			display: grid;
			grid-template-areas:
				"content";

			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			grid-gap: 10px;
		}

		&.sidebar-left {
			.site-content {
				grid-template-areas:
					"side content";
				grid-template-columns: var(--sidebar-width, $sidebar-default-width) 1fr;
			}
		}

		&.sidebar-right {
			.site-content {
				grid-template-areas:
					"content side";
				grid-template-columns: 1fr var(--sidebar-width, $sidebar-default-width);
			}
		}
	}
}


#tertiary {
	.widget-area {
		display: flex;
		> div, > section, > aside {
			flex: 1;
		}
	}
}


.push-below-header {
	@include pushBelowHeader();
}

