
.site {
	width: var(--content-width, $container-default-width) !important;
	max-width: 100%;
	margin: 0 auto;
	&-main {
		.home & {
			min-height: calc(88vh - 8rem);
		}
		display: flex;
		align-items: center;
		flex-direction: column;
		article, #comments {
			width: 100%;
		}
	}
	&-content, &-footer,.widget-area {
		padding: var(--content-gutter-y, $grid-gutter-width) var(--content-gutter-x, $grid-gutter-width);
	}
	.custom-logo-link {
		max-height: 150px;
		margin-top: var(--content-gutter-y, $grid-gutter-width);
		margin-bottom: var(--content-gutter-y, $grid-gutter-width);
	}
	&-content-wrapper {
		transition: opacity 400ms linear;
		.site-loading &, .css-loading & {
			opacity: 0;
		}
	}
}

.site-content {
	display: block;
	grid-template-areas:
		"content";
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-gap: var(--content-gutter-x, $grid-gutter-width);
}


.vertical-sidebar {
	#secondary {
		grid-area: side;
	}

	#primary {
		grid-area: content;
	}

	@include media-breakpoint-up(md) {

		&.sidebar-left {
			.site-content {
				display: grid;
				grid-template-areas: "side content";
				grid-template-columns: var(--sidebar-width, $sidebar-default-width) 1fr;
				grid-gap: var(--content-gutter-x, $grid-gutter-width);
			}
		}

		&.sidebar-right {
			.site-content {
				display: grid;
				grid-template-areas: "content side";
				grid-template-columns: 1fr var(--sidebar-width, $sidebar-default-width);
				grid-gap: var(--content-gutter-x, $grid-gutter-width);
			}
		}
	}

}


#tertiary {
	.widget-area {
		display: flex;
		> div, > section, > aside {
			flex: 1;
		}
	}
}

.push-below-header {
	@include pushBelowHeader();
}
