.menu-item {
	&.menu-item-has-children {
		&:hover, &:focus-within {
			.sub-menu {
				overflow: visible;
				li {
					background-color: var(--header-bg-color);
					box-shadow: 0 0 10px rgba(0,0,0,0.1);
					z-index: 40;
					a {
						display: block;
					}
				}
			}
		}
	}
	.sub-menu {
		list-style: none;
		padding-left: 0;
		@include media-breakpoint-up(md) {
			max-height: 0;
			overflow: hidden;
			position: absolute;
			li {
				position: relative;
				z-index: 10;
				a {
					padding: 1em 1.5em !important;
				}
			}
		}
	}
}
