.menu-item {
	a {
		vertical-align: middle;
		display: inline;
	}
	&.menu-item-has-children {
		&:hover, &:focus-within {
			.sub-menu {
				overflow: visible;
				li {
					background-color: var(--header-bg-color);
					z-index: 40;
					a {
						display: block;
					}
				}
			}
		}
	}
	.sub-menu {
		list-style: none;
		padding-left: 0;
		z-index: 300;
		.menu-collapse & {
			@include media-breakpoint-up(md) {
				max-height: 0;
				overflow: hidden;
				position: absolute;
				li {
					position: relative;
					z-index: 10;
				}
			}
		}
	}
}


.widget_nav_menu {
	ul {
		color: #777;
		list-style-type: none;
	}
}
