.menu-item {
	a {
		vertical-align: middle;
		display: inline;
	}
	&.menu-item-has-children {
		&:hover, &:focus-within {
			.sub-menu {
				overflow: visible;
				li {
					background-color: var(--header-bg-color);
					z-index: 40;
					a {
						display: block;
					}
				}
			}
		}
	}
	.sub-menu {
		list-style: none;
		padding-left: 0;
		z-index: 300;
		.menu-collapse & {
			@include media-breakpoint-up(md) {
				max-height: 0;
				overflow: hidden;
				position: absolute;
				li {
					position: relative;
					z-index: 10;
				}
			}
		}
	}
}


.menu-toggle {
	width: 2rem;
	min-height: calc(2rem + 2px);
	position: relative;
	padding: 2rem;
	color: inherit;
	margin-left: 1rem;
	border: 1px solid transparent;
	&:focus {
		outline: none;
	}
	@include media-breakpoint-up(xl) {
		display: none;
	}
	&[aria-expanded="true"] {

	}
	span {
		transition: all 300ms linear;
		&, &:before, &:after {
			background: var(--header-text-color, $base-color);
			cursor: pointer;
			height: 1px;
			width: 2rem;
			position: absolute;
			display: block;
			content: '';
			left: 50%;
			transition: all 300ms ease-out;
			transform: translateX(-50%);
		}
		&:before {
			top: -.75rem;
		}
		&:after {
			bottom: -.75rem;
		}
		.menu-toggled & {
			transform: rotate(45deg) translate(-35%, 0.6rem);
			transform-origin: center;
			&:before {
				top: 0;
				transform: translateX(-50%) rotate(90deg);
			}
			&:after {
				opacity: 0;
				width: 0;
			}
		}
	}
}


.widget_nav_menu {
	ul {
		color: #777;
		list-style-type: none;
	}
}
