//
// Typography
//

p.lead {
	@include lead();
}

strong, b {
	font-weight: var(--bold-font-weight, ($font-weight-base+200));
}

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
	font-size: var(--wp--preset--font-size--normal, $root-font-size);
	font-weight: var(--base-font-weight, $font-weight-base);
	line-height: var(--wp--custom--line-height--body, $line-height-base);
	margin-top: 0;
	margin-bottom: var(--wp--custom--spacing--unit, $spacer);
	@include media-breakpoint-down(sm) {
		font-size: var(--mobile-font-size);
	}
}

//
// Links
//

a {
	color: inherit;
	background-color: transparent; // Remove the gray background on active links in IE 10.
	-webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous ampersand-panel, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402

a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;

	//@include hover-focus {
	//  color: inherit;
	//  text-decoration: none;
	//}

	&:focus {
		outline: 0;
	}
}

//
// Emphasis
//

small {
	@include small();
}

//
// Links
//

a {
	transition: all 300ms ease-out;
}


//
// Blockquote
//

blockquote {
	padding-left: 1rem;
	padding-right: 1rem;
	border-left: .2rem solid;
	footer {
		font-size: 80%;
	}
}


//
// Typography
//

header p {
	@include lead();
}

strong, b {
	font-weight: var(--bold-font-weight, ($font-weight-base+200));
}

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
	margin-top: 0;
	margin-bottom: var(--wp--custom--spacing--unit, $spacer);

}

//
// Links
//

a {
	color: inherit;
	background-color: transparent; // Remove the gray background on active links in IE 10.
	-webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous ampersand-panel, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402

a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;

	//@include hover-focus {
	//  color: inherit;
	//  text-decoration: none;
	//}

	&:focus {
		outline: 0;
	}
}


//
// Emphasis
//

small {
	@include small();
}

//
// Links
//

a {
	transition: all 300ms ease-out;
}


//
// Blockquote
//

blockquote {
	padding-left: 1rem;
	padding-right: 1rem;
	border-left: .2rem solid;
	footer {
		font-size: 80%;
	}
}


.text-heading {
	font-family: var(--wp--custom--font-primary);
}

.entry-content {
	a {
		text-decoration: underline;
		font-weight: var(--bold-font-weight) !important;
	}
}

p {

	&.has-huge-font-size {
		font-size: 1.8rem !important;
	}

	&.has-large-font-size {
		font-size: 1.5rem !important;
	}

	&.has-medium-font-size {
		font-size: 1.2rem !important;
	}

	&.has-normal-font-size {
		font-size: 1rem !important;
	}

	&.has-small-font-size {
		font-size: 0.85rem !important;
	}
}
