@import "wp-social-links";
@import "wp-block-separator";


@media (max-width: 600px) {
	.wp-block-media-text {
		&.is-stacked-on-mobile {
			&.has-media-on-the-right {
				.wp-block-media-text__media {
					grid-column: 1;
					grid-row: 1;
				}
				.wp-block-media-text__content {
					grid-column: 1;
					grid-row: 2;
				}
			}
		}
	}
}


.wp-block {
	&-navigation {
		display: block;
		width: 100%;
		& &__container {
			flex-direction: row;
			width: 100%;
			display: flex;
		}
	}
}
