.site {
	padding-top: $header-height;
	@include media-breakpoint-up(md) {
		padding-top: $header-height-md;
	}
	&-header {
		background-color: var(--header-bg-color);
		top: 0;
		@include when-admin-bar {
			top: 46px;
		}
		@media screen and (max-width: 600px) {
			@include when-admin-bar {
				.scrolled &, .scrolling & {
					top: 0 !important;
				}
			}
		}
		@include when-admin-bar-desktop {
			top: 32px !important;
		}
		@include media-breakpoint-down(md) {
			padding-top: 1rem !important;
			padding-bottom: 1.5rem !important;
		}
		z-index: 20;
		position: fixed;
		padding: 1em;
		display: flex;
		left: 0;
		right: 0;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&-description {
		margin-left: .4em;
	}
	&-branding {
		display: inline-flex;
		align-items: baseline;
		@include media-breakpoint-down(sm) {
			max-width: 20%;
			min-width: 100px;
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	&-navigation {
		display: inline-flex;
	}
}
