@import "header/centered";
@import "entry/vertical-padding";

.site {
	&-main {
		padding-bottom: 3rem;
	}
	&-header {
		@include alignfull();
		color: var(--header-text-color, inherit);
		background-color: var(--header-bg-color, --base-bg-color);
	}
	&-branding {
		font-family: var(--headings-font-family, $headings-font-family);
		.custom-logo-link {
			display:block;
		}
	}
	&-title {
		line-height: 1.1;
		margin: 0;
		a {
			font-size: 3.25rem;
			font-weight: 400;
			text-decoration: none;
		}
	}
	&-description {
		margin: 0 0 1em 0;
	}
	&-navigation {
		display: flex;
		justify-content: center;
	}

	&-footer {
		@include alignfull();
		color: var(--base-color, inherit);
		padding: 2rem;
		text-align: center;
	}
	&-info {
		padding: 0 2rem;
		font-size: .8rem;
	}
}

.widget {
	flex: 1;
	padding: 0 1rem;
	flex-basis: auto;
	margin: .5rem;
	&-area {
		display: flex;
		padding: 2rem;
		flex-wrap: wrap;
	}
	&-title {
		margin: .8rem 0;
		font-size: 1.1rem;
		font-weight: 600;
		padding-bottom: .5rem;
		border-bottom: 1px solid;
	}
	a {
		// We don't want a field of underlined text, let's increase font weight
		// @TODO Change to variable for font weight
		text-decoration: none;
		font-weight: 500;
	}
	&_search {
		.search-field {
			margin-top: 1rem;
			margin-bottom: 0;
			@include border-radius;
		}
		.search-submit {
			margin-bottom: 1rem;
			width: 100%;
		}
	}
}

input[type="submit"] {
	@include button();
}

.menu-toggle {
	width: 2rem;
	min-height: calc(2rem + 2px);
	position: absolute;
	left: 1rem;
	padding: 2rem;
	top: 2.5rem;
}

.main {
	&-navigation {
		display: flex;
		align-items: center;
		position: relative;
		.menu-container {
			display: flex;
			flex: 1;
			margin-left: 0rem;
			overflow: visible;
			justify-content: center;
			> .menu {
				margin-bottom: 0;
				list-style-type: none;
				padding-left: 0;
				display: flex;
				li {
					&.current_page_item {
						a {
							//background-color: var(--base-color, $body-color);
							//color: var(--base-bg-color, $body-bg);
						}
					}
					a {
						line-height: 1em;
						display: block;
						text-decoration: none;
						@include media-breakpoint-up(md) {
							padding: 1rem 1.5rem;
							display: inline-block;
							font-weight: 400;
							font-size: 0.9rem;
							font-family: var(--headings-font-family);
						}
					}
				}
			}
		}
	}
}



.wp-block {
	&-cover, &-image {
		margin-bottom: 2rem;
	}
	&-cover {
		padding: 2rem 0;
		.wp-block-cover__inner-container {
			max-width: 100%;
			padding-left: 1rem;
			padding-right: 1rem;
			@include media-breakpoint-up(md) {
				padding-left: 2rem;
				padding-right: 2rem;
			}
			width: var(--content-width, $container-default-width);
		}
		h2, h3, h4, h5, h6, p{
			margin: 0 auto;
		}
	}
}

.area {
	&-inverted {
		background-color: var(--base-color, $body-color);
		color: var(--base-bg-color, $body-bg);
		a {
			color: var(--base-bg-color, $body-bg);
		}
		button, [type="submit"] {
			background-color: var(--base-color-darker, $body-color-darker);
		}
	}
}
