.feed-container {
	width: 100%;
	.page-title {
		font-size: 2rem;
	}
}

.header-overlay-content article:not(.has-cover-title) {
	padding-top: 7rem;
}

.entry {
	&-title {
		font-size: 3rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		line-height: 1.1;
		padding: 1rem 0;
		border-bottom: 1px solid;
		a {
			text-decoration: none;
		}
	}
	&-header {
		margin-bottom: 1rem;
	}
	&-meta, &-footer {
		font-family: var(--headings-font-family, $headings-font-family);
		> span a {
			@include pill();
		}
	}
	&-date {
		+ time {
			display: none;
		}
	}
	&-content {
		> div[class^="wp-block"] {
			margin-bottom: var(--content-gutter-y);
		}
	}
}


.comment {
	&s-area {
		padding: var(--content-gutter-y, 0) 0;
	}
	&-list {
		padding-left: 2rem;
		font-size: 2rem;
	}
	&s-title {
		border-bottom: 1px solid;
		padding-bottom: 1rem;
	}
	&-content {
		padding: 1rem;
		display: block;
		margin: 1rem 0;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: .35rem;
		background-color: rgba(255,255,255,0.6);
	}
	.reply {
		@include pill();
	}
	&-meta {
		display: flex;
	}
	&-metadata {
		margin-top: 0;
		> a, > span {
			@include pill();
			margin-right: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&-author {
		flex: 1;
		.avatar {margin-right: .5rem;}
		.fn {font-weight: 600;    display: inline-block;}
		.says {font-size: 80%;    display: inline-block;}
	}
	&-author, &-metadata {
		a {
			text-decoration: none;
			font-weight: 500;
		}
	}
	&-body {
		font-size: 1.3rem;
		margin-bottom: 1rem;
		padding: 1rem;
	}
	&-respond {
		font-size: 1rem;
	}
	&-submit {
		@include button();
	}
}

textarea {
	overflow: auto;
	resize: vertical;
	border-radius: 1rem;
	background-color: #fbfbfb45;
}

.logged-in-as {
	> a {
		text-decoration: none;
		font-weight: 600;
	}
}

.entry {
	&-summary {
		font-size: 1.2rem;
		padding-bottom: 1rem;
		p {
			margin-bottom: 1em;
		}
	}
}

.wp-full-height-group {
	display: flex;
	height: 100%;
}
