.site-footer {
	font-size: 0.80rem;
	padding: 1rem 0;
	text-align: center;
	.site-theme-info {
		font-size: 0.70rem;
		line-height: 0;
		opacity: 0.7;
		margin: .5rem 0;
	}
}


.pre-footer {
	.widget {
		ul.menu {
			list-style-type: none;
			padding-left: 0;
			a {
				display: block;
				font-size: 1em;
				margin-bottom: .5rem;
				padding-bottom: .5rem !important;
				border-bottom-color: transparent;
				padding-top: .5rem;
				font-weight: 300;
				&:hover {
					border-bottom-color: #eee;
				}
			}
		}
	}
}

.wp-block-navigation__responsive-container {
	&.has-modal-open {
		.wp-block-navigation__container {
			height: 100%;
			justify-content: flex-end;
		}
		.wp-block-navigation__responsive-container-content {
			.wp-block-navigation-link {
				width: 100%;
				margin-right: 0;
				&__content {
					font-size: 1.3rem;
					text-align: center;
					width: 100%;
				}
				&__label {
					padding: 2rem 0;
					display: block;
				}
			}
		}
	}
}

.site {
	.wp-block-social-links {
		.wp-block-social-link {
			&:first-child {
				margin-left: 8px;
			}
		}
	}
}
