
	form {
		font-family: var(--wp--custom--font-primary), $base-font-family;
		font-size: 1rem;
		input, textarea {
			background-color: transparent;
			border-radius: var(--base-border-radius);
			padding: .6em 1em;
			line-height: 1.4em;
			color: inherit;
			&[type="text"], &[type="email"], &[type="url"] {
				width: 100%;
			}
		}
		button, input[type="submit"] {
			@include button();
			padding: .4em 2em;
			border-color: transparent;
		}
	}

