.main {
	&-navigation {
		display: inline-flex;
		align-items: center;
		position: relative;
		align-self: center;
		.menu, ul, li, a {
			background-color: inherit;
		}
		@include media-breakpoint-down(md) {
			.menu {
				&-container {
					margin-left: var(--content-no-gutter-x);
					margin-right: var(--content-no-gutter-x);
				}
			}
			.menu {
				&-collapse {
					transition: max-height 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms linear;
					width: 100%;
					flex-direction: column;
					max-height: 0;
					overflow: hidden;
					align-items: flex-start;
					position: relative;
					.menu-toggled & {
						transition: max-height 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 100ms linear 100ms;
						max-height: 100vh;
						overflow-y: auto;
						overflow-x: hidden;

						.menu-container {
							padding-bottom: 7rem;
							border-bottom: 1px solid #0087aa;
							box-shadow: 0 8px 8px #0087aa3d;
						}
					}

					li {
						width: 100%;
						text-align: center;

						&.menu-item-has-children {
							background-color: #f9f9f9;
							border-bottom: 1px solid #e8e8e8;
							position: relative;

							&.focus {
								.sub-menu {
									display: block;
								}
							}

							.sub-menu {
								display: none;
							}
						}

						a {
							padding: 1.5rem 0;
							text-align: center;
						}
					}
				}
			}
		}

	}
}


.menu {
	&-container {
		transition: padding 400ms ease-in-out;
		display: flex;
		flex: 1;
		overflow: visible;
		justify-content: center;
		height: 100%;
		&.has-background {
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			max-width: 1000%;
			width: auto;
		}
	}


	margin-bottom: 0;
	list-style-type: none;
	padding-left: 0;
	display: block;
	&.menu-row {
		display: flex;
		align-items: center;
		a {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	li {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		> &.current_page_item {
			a {
				font-weight: 400;
				border-bottom: 1px solid var(--header-text-color, var(--base-color));
			}
		}
		a {
			padding-top: 1rem;
			padding-bottom: 1rem;
			line-height: 1em;
			text-decoration: none;
			display: block;
			vertical-align: middle;
			@include media-breakpoint-up(lg) {
				white-space: nowrap;
				display: inline-block;
			}
			border-bottom: 1px solid transparent;
			letter-spacing: var(--base-letter-spacing);
			font-size: var(--nav-font-size);
			font-weight: var(--nav-font-weight);
			font-family: var(--nav-font-family), $headings-font-family;
			&:hover {
				border-bottom: 1px solid inherit;
			}
		}
	}
}

.menu.menu-pills {
	> .menu-item {
		&:first-of-type {
			a {
				border-top-left-radius: 1rem;
				border-bottom-left-radius: 1rem;
			}
		}
		&:last-of-type {
			a {
				border-top-right-radius: 1rem;
				border-bottom-right-radius: 1rem;
			}
		}
	}
}
