.main {
	&-navigation {
		display: inline-flex;
		align-items: center;
		position: relative;
		align-self: center;
		@include media-breakpoint-down(md) {
			.menu {
				&-container {
					margin-left: var(--content-no-gutter-x);
					margin-right: var(--content-no-gutter-x);
				}
			}
			.menu {
				&-collapse {
					transition: max-height 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms linear;
					width: 100%;
					flex-direction: column;
					max-height: 0;
					overflow: hidden;
					align-items: flex-start;
					position: absolute;

					.has-fixed-header & {
						position: relative;
						top: 0;
					}

					top: 100%;
					left: 0;

					.menu-toggled & {
						transition: max-height 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 100ms linear 100ms;
						max-height: 100vh;
						overflow-y: auto;
						overflow-x: hidden;

						.menu-container {
							padding-bottom: 7rem;
						}
					}

					li {
						width: 100%;
						text-align: center;

						&.menu-item-has-children {
							background-color: #f9f9f9;
							border-bottom: 1px solid #e8e8e8;
							position: relative;

							&:before {
								content: "";
								width: .5rem;
								height: .5rem;
								border-top: .5rem solid #333;
								border-left: .5rem solid transparent;
								border-right: .5rem solid transparent;
								position: absolute;
								right: 1.5rem;
								top: 1.9rem;
							}

							&.focus {
								.sub-menu {
									display: block;
								}
							}

							.sub-menu {
								display: none;
								background-color: #f2f2f2;
								li {
									background-color: #f2f2f2;
								}
							}
						}

						a {
							padding: 1.5rem 0;
							text-align: center;
						}
					}
				}
			}
		}

	}
}


.menu {
	&-container {
		transition: padding 400ms ease-in-out;
		display: flex;
		flex: 1;
		overflow: visible;
		justify-content: center;
		height: 100%;
	}
	margin-bottom: 0;
	list-style-type: none;
	padding-left: 0;
	display: block;
	&.menu-row {
		display: flex;
		align-items: center;
		a {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	li {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		> &.current_page_item {
			a {
				font-weight: 400;
				border-bottom: 1px solid var(--header-text-color, var(--base-color));
			}
		}
		a {
			padding-top: 1rem;
			padding-bottom: 1rem;
			line-height: 1em;
			text-decoration: none;
			display: block;
			font-size: var(--nav-font-size, 1rem);
			vertical-align: middle;
			@include media-breakpoint-up(lg) {
				white-space: nowrap;
				display: inline-block;
			}
			border-bottom: 1px solid transparent;
			letter-spacing: var(--base-letter-spacing, 0);
			font-family: var(--headings-font-family, $headings-font-family);
			&:hover {
				border-bottom: 1px solid var(--header-text-color, --base-color);
			}
		}
	}
}

.menu.menu-pills {
	> .menu-item {
		&:first-of-type {
			a {
				border-top-left-radius: 1rem;
				border-bottom-left-radius: 1rem;
			}
		}
		&:last-of-type {
			a {
				border-top-right-radius: 1rem;
				border-bottom-right-radius: 1rem;
			}
		}
	}
}
