.post-navigation {
	width: 100%;
	.nav-links {
		display: flex;
		padding-top: 2rem;
		padding-bottom: 2rem;
		justify-content: space-around;
		.nav {
			&-next, &-previous {
				padding: .5em 1em;
				flex-basis: 100%;
				a {
					display: inline-block;
					font-weight: 200;
					text-decoration: none;
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
			&-previous {
				a {
					&:before {
						content: "";
						display: inline-block;
						border-top: 6px solid transparent;
						margin-right: 1rem;
						border-right: 10px solid;
						border-bottom: 6px solid transparent;
					}
				}
			}
			&-next {
				justify-content: flex-end;
				display: flex;
				a {
					text-align: right;
					&:after {
						content: "";
						display: inline-block;
						border-top: 6px solid transparent;
						margin-left: 1rem;
						border-left: 10px solid;
						border-bottom: 6px solid transparent;
					}
				}
			}
		}
	}
}
