html {
	font-size: var(--wp--preset--font-size--normal);
}

a {
	line-height: var(--wp--custom--line-height--body, $line-height-base);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: var(--wp--custom--spacing--unit);
	font-family: var(--wp--preset--font-family--heading), $headings-font-family;
	font-weight: var(--wp--custom--font-weight--normal, $headings-font-weight);
	line-height: var(--wp--custom--line-height--heading, $line-height-base);
}
