html {
	font-size: var(--wp--preset--font-size--normal);
	@include media-breakpoint-down(sm) {
		font-size: var(--mobile-font-size);
	}
}

a {
	line-height: var(--wp--custom--line-height--body, $line-height-base);
	font-weight: 500;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: $font-size-h1;
}

h2 {
	font-size: $font-size-h2;
}

h3 {
	font-size: $font-size-h3;
}

h4 {
	font-size: $font-size-h4;
}

h5 {
	font-size: $font-size-h5;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: var(--wp--custom--spacing--unit);
	font-family: var(--wp--custom--font-primary), $headings-font-family;
	font-weight: var(--headings-font-weight, $headings-font-weight);
	line-height: var(--wp--custom--line-height--heading, $line-height-base);
	letter-spacing: var(--headings-letter-spacing, $headings-letter-spacing);
}
