
.site {
	display: flex;
	min-height: 100vh;
	.admin-bar & {
		min-height: calc(100vh - 32px);
	}
	flex-direction: column;
	&-content {
		display: flex;
		flex-basis: 0;
		flex-shrink: 1;
		flex-grow: 1;
		align-items: flex-start;
	}

	.content-area {
		flex: 1;
	}

	.widget-area {
		flex: 0 30rem;
		position: relative;
		background-color: var(--base-bg-color, $body-bg);
		z-index: 30;
		padding: 2rem;
	}

	.HolyGrail-nav {
		/* put the nav on the left */
		order: -1;
	}

	.alignwide {
		margin-left: -30rem;
		margin-right: -60rem;
		max-width: 100vw;
		width: auto;
	}

	.alignfull {
		margin-left: calc( (-100vw + 60rem) / 2 + 100% / 2 );
	}

	/*
	.alignfull {
		max-width: 100vw;
		width: auto;
		margin-left: calc( -100vw / 2 + 100% / 2 );
		margin-right: calc( -100vw / 2 + 100% / 2);
	}*/

}
