@include css-vars((
	--base-color: $body-color,
	--base-color-darker: $body-color-darker,
	--base-bg-color: $body-bg,
	--base-font-family: $base-font-family,
	--base-font-size: $root-font-size,
	--base-font-weight: $font-weight-base,
	--base-letter-spacing: $base-letter-spacing,
	--content-width: $container-default-width,
	--headings-font-family: $headings-font-family,
	--headings-letter-spacing: $headings-letter-spacing,
	--base-border-radius: $default-border-radius
));
