$css-vars-use-native: true;
@import "_variables";
@import "mixins/_mixins";
@import "~css-vars";
@import "css-variables";


.wp-block {
	max-width: var(--content-width, $container-default-width);
}

#editor {
	.editor-styles-wrapper {
		@include root();
		@import "scaffold/typography";
		p {
			font-size: 1.7rem;
			font-weight: var(--base-font-weight, $font-weight-base);
		}
	}
}
