$css-vars-use-native: true;
@import "_variables";
@import "mixins/_mixins";
@import "./../../node_modules/css-vars/css-vars";

@import "common/common";

.editor-block-list__layout .editor-block-list__block {
	max-width: var(--content-width, $container-default-width);
}

/* Main column width */
.wp-block {
	line-height: var(--wp--custom--line-height--body, $line-height-base);
	max-width: var(--content-width, $container-default-width);
}

.wp-block {
	&[data-align="full"] {
		max-width: none;
	}
}


html .editor-styles-wrapper {
	box-sizing: border-box;
	color: var(--base-color, $body-color);
	font-family: var(--wp--custom--font-primary), $base-font-family;
	font-size: var(--wp--preset--font-size--normal, $root-font-size);
	line-height: var(--wp--custom--line-height--body, $line-height-base);
	letter-spacing: var(--base-letter-spacing, $base-letter-spacing);
	background-color: var(--base-bg-color, $body-bg);
	@import "common/block";
	@import "theme/typography";
}
