$css-vars-use-native: true;
@import "_variables";
@import "mixins/_mixins";
@import "~css-vars";
@import "css-variables";

@import "common/common";

.wp-block {
	max-width: var(--content-width, $container-default-width);
}

#editor {
	.editor-block-list__layout {
		box-sizing: border-box;
		font-family: var(--base-font-family, $base-font-family);
		font-size: var(--base-font-size, $root-font-size);
		line-height: 1.1;
		letter-spacing: var(--base-letter-spacing, $base-letter-spacing);
		@import "scaffold/typography";
		p {
			font-size: 1.7rem;
			font-weight: var(--base-font-weight, $font-weight-base);
		}
	}
}
